* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.sidebar {
  background-image: url(../assets/images/icon-menu.svg);
  background-repeat: no-repeat;
}

.sidebar {
  margin-left: 21em;
}

.container {
  width: 30em;
  margin: 0 auto;
}

.bright img {
  width: 28em;
  margin-left: 1em;
  margin-top: -1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  padding-top: 1em;
  margin-bottom: 3em;
}

.logo {
  width: 3em;
  height: 2em;
}

nav {
  display: flex;
  color: #726f79;
  visibility: hidden;
  gap: 3em;
}

.para {
  margin-left: 1em;
  margin-right: 1em;
}

.para h1 {
  font-size: 3em;
  margin-right: 2em;
}

.para p {
  color: gray;
  line-height: 1.5em;
  margin-top: 0.5em;
}

button {
  width: 9em;
  height: 2em;
  border: none;
  color: white;
  background-color: #eb4641;
  margin-top: 0.5em;
  border-radius: 0.1em;
  margin-bottom: 2.5em;
}

.new {
  background-color: #000015;
  margin: 0 1em;
  margin-bottom: 1em;
  width: 28em;
  height: 30em;
  padding: 1em;
  color: white;
}

.new h1 {
  color: #e59944;
  margin-bottom: 1em;
}

.new h3 {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.new p {
  color: #707184;
  margin-bottom: 1.5em;
  font-size: 1.3rem;
}

hr {
  border-color: #707184;
  margin-bottom: 1em;
}

.picture {
  display: flex;
  margin: 2em 1em;
}

.picture img {
  width: 6em;
}

.paras {
  margin: 0 1em;
}

.paras h1 {
  color: #bbbbc0;
}

.paras h4 {
  margin-top: 0.3em;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.paras p {
  color: #86828a;
  line-height: 1.2em;
}

h4:hover {
  cursor: pointer;
  color: #d14346;
}

.ul:hover {
  cursor: pointer;
  color: #d14346;
}

h3:hover {
  cursor: pointer;
  color: #e5993c;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

/* .sidebarplus {
  background-image: url(../assets/images/icon-menu-close.svg);
  width: 20em;
  background-color: aqua;
} */

@media only screen and (min-width: 600px) {
  .container {
    width: auto;
    margin-top: 8em;
  }

  .brnew {
    display: flex;
  }

  .para {
    display: flex;
  }

  .bright {
    width: auto;
  }

  .brnew {
    width: auto;
  }

  .bright img {
    width: 28em;
    height: 20em;
    width: 43em;
    object-fit: cover;
    margin-bottom: 2em;
  }

  .new {
    width: 50em;
    height: 32em;
    margin-top: -1.5em;
  }

  .popular {
    display: flex;
  }

  nav {
    visibility: visible;
  }

  header {
    margin-bottom: 5em;
  }

  .sidebar {
    background-image: none;
  }
}
